#!/bin/sh

xrdb -merge ~/.Xresources
xset s off &
xset -dpms &

xbindkeys &

compton --no-fading-openclose --vsync none -r 0 -o 0 &

numlockx &

export EDITOR=vim

export GTK_IM_MODULE=ibus
export XMODIFIERS=@im=ibus
export QT_IM_MODULE=ibus

ibus-daemon --xim --daemonize
